
.modal-lg {
    width: 90% !important;
    }
.modal h1, h2, h3, h4, h5, p {
    color: black;
}

.modal .subscribe {
    margin-top: 10px;
    padding: 0;
}

@media (max-width: 375px) { 
   
    .modal-lg {
        height: 90% !important;
        }
    .card-body {
        padding: 0.8em;
    }
    .newWord {
        padding: 0 5px 0 5px;
    }
    /* .vote {
        padding: 0 5px 0 5px;
    } */

    .form-group {
        font-size: 1em;
    }


}